* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #e1e1f7;
    margin: 0;
}
header {
    background-color: #2828bf;
    margin: 0;
}
.header__content {
    padding: 35px 0px 25px;
}
.header__content__inner {
    display: flex;
    justify-content: space-between;
}
.header__nav li {
    display: inline-block;
}
.header__nav a {
    color: #e1e1f7;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
    transition: all .3s;
}
.header__nav a:hover {
    background-color: #e1e1f7;
    color: #2828bf;
    border-radius: 50%;
}
.header__nav li + li {
    padding-left: 0;
}
.header__title__name {
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.header__title__name:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1f7;
    border-radius: 50%;
}
.main__wrapper {
    max-width: 900px;
    margin: 30px auto;
}
.about__me__inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.about__me__left img {
    width: 200px;
    border-radius: 5%;
    margin-top: 5px;
}
.about__me__left {
    text-align: center;
    border: 1px solid #ccccf0;
    padding: 20px;
    background-color: #ccccf0;
    color: #3636ff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.about__me__name {
    font-size: 28px;
}
.about__me__right {
    text-align: left;
    padding: 20px;
    padding-right: 35px;
    margin-top: 60px;
    color: #000000;  
}
.about__me__title {
    text-align: center;
    font-size: 48px;
    line-height: 36px;
}
.my__technical__skills__inner,
.my__projects__inner,
.my__code__example__inner,
.my__experience__inner, 
.my__education__inner,
.my__languages__inner,
.my__contacts__inner {
    margin-top: 45px;
    color: #000000;
}
.my__technical__skills__title,
.my__projects__title,
.my__code__example__title,
.my__experience__title,
.my__education__title,
.my__languages__title,
.my__contacts__title {
    padding-left: 25px;
    color: #3636ff;
}
.my__technical__skills__text,
.my__projects__text__inner,
.my__languages__text,
.my__contacts__text {
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px 50px 20px 65px;
    line-height: 36px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.my__projects__text__inner p {
    line-height: 24px;
}
.my__projects__text__inner h4 {
    color: #3636ff;
}
.my__projects__text__img {
    margin-left: 50px;
    margin-right: 50px;
}
.my__projects__text img {
    max-width: 100%;
}
.my__technical__skills__text li,
.my__languages__text li,
.my__contacts__inner li {
    position: relative;
    padding-left: 10px;
}
.my__technical__skills__text li:before,
.my__languages li:before,
.my__contacts__inner li:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 12px;
    width: 10px;
    height: 10px;
    background-color: #3535ff;
    border-radius: 50%;
}
.my__code__example__text pre {
    background-color: #20205f;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 50px;
    line-height: 18px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.my__experience__text,
.my__education__text {
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px 50px;
    line-height: 36px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
}
.my__experience__left__date,
.my__education__left__date {
    font-size: 20px;
    font-weight: 900;
    color: #3636ff;
}
.my__experience__left__vacation {
    font-size: 16px;
    font-weight: 700;
}
.my__experience__left__company,
.my__education__left__company {
    font-size: 20px;
    font-weight: 500; 
    font-style: italic;
}
.my__experience__left__type {
    font-size: 16px;
    font-weight: 500;
}
.my__experience__right,
.my__education__right {
    padding-left: 25px;
    font-size: 20px;
    line-height: 28px;
}
.my__experience__right li,
.my__education__right li{
    position: relative;
}
.my__experience__right li:before,
.my__education__right li:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: #3535ff;
    border-radius: 50%;
}
footer {
    background-color: #2828bf; 
    margin: 0;  
}
.footer__inner {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
} 
.footer__github img {
    width: 45px;
    border-radius: 15%;
    margin-top: 5px;
}
.footer__rs img {
    width: 85px; 
    border-radius: 15%;
    margin-top: 5px; 
}
.footer__github {
    display: inline-block;
    margin-right: 25px;
}
.footer__rs {
    display: inline-block; 
}
.footer__author {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
}
.nav__btn {
    display: none;
    font-size: 28px;
}